footer {
    height: 163px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    @include media("max", "md") {
        flex-direction: column;
        height: 100px;
        padding-top: 10px;
        justify-content: center;
    }
    @include media("max", "xs") {
        height: 70px;
    }
    ul {
        display: flex;
        height: min-content;
        margin-top: 20px;
        @include media("max", "md") {
            margin-top: 0;
        }
        @include media("max", "sm") {
            justify-content: center;
        }
        @include media("max", "xs") {
            display: none;
        }
        li {
            list-style-type: none;
            margin: 0 25px;
            text-transform: uppercase;
            cursor: pointer;
            border: 1px solid transparent;
            padding: 5px 10px;
            border-radius: 5px;
            @include media("max", "sm") {
                margin: 0;
                font-size: 11px;
            }
        }
    }
    .wrapper_social_copyright {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include media("max", "md") {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .wrapper_social {
            display: flex;
            justify-content: end;
            padding-right: 47px;
            @include media("max", "md") {
                padding: 0;
            }
            span {
                height: 40px;
                width: 40px;
                display: block;
                border-radius: 20px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin: 8px;
                @include media("max", "sm") {
                    margin: 4px;
                }
                a {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
            .facebook {
                background-image: url(/image/icons/facebook.svg);
            }
            .houzz {
                background-image: url(/image/icons/houzz.svg);
            }
            .twitter {
                background-image: url(/image/icons/twitter.svg);
            }
            .instagram {
                background-image: url(/image/icons/instagram.svg);
            }
        }
        p {
            color: #b5b5b5;
            padding-right: 105px;
            @include media("max", "md") {
                padding: 0;
            }
            @include media("max", "sm") {
                font-size: 14px;
                padding: 0 8px;
            }
            @include media("max", "xs") {
                display: none;
            }
        }
    }
}