@import 'media';

nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    @include media("max", "sm") {
        height: 70px;
    }
    .wrapper_logo {
        height: 33px;
        display: flex;
        align-items: center;
        margin-left: 55px;
        cursor: pointer;
        @include media("max", "md") {
            margin-left: 15px;
        }
        span {
            display: block;
            height: 20px;
            width: 20px;
            border-radius: 20px;
            border: 6px solid yellow;
        }
        p {
            color: $color-grey-text-h3;
            text-transform: uppercase;
            width: min-content;
            margin-left: 8px;
            font-weight: 600;
            line-height: 16px;
        }
    }
    .wrapper_menu_serch {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: end;
        @include media("max", "sm") {
            position: relative;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 650px;
            height: 100%;
            @include media("max", "md") {
                width: auto;
            }
            @include media("max", "sm") {
                display: none;
                position: absolute;
                width: 75%;
                margin-left: -10px;
                padding-left: 10px;
                height: 400px;
                top: -15px;
                background-color: yellow;
                bottom: 0;
                padding-top: 60px;
                border-radius: 0 0 0 10px;
            }
            @include media("max", "xs") {
                width: 90%;
            }
            li {
                color: $color-grey;
                list-style-type: none;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 10px;
                border-radius: 5px;
                @include media("max", "sm") {
                    display: block;
                    margin: 15px 0;
                    color: black;
                }
                span {
                    border-bottom: 1px solid #565656;
                    display: block;
                    width: 0;
                }
            }
        }
        .wraper_search {
            height: 30px;
            width: 120px;
            border-left: 1px solid $color-search-border;
            line-height: 30px;
            margin-left: 58px;
            text-align: center;
            font-size: 30px;
            @include media("max", "md") {
                width: 60px;
            }
            @include media("max", "sm") {
                display: none;
            }
        }
    }
    
}

// hamburger
.menuToggle{  
    padding: 10px 15px;
    cursor: pointer;
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    @include media("max", "sm") {
        display: block;
    }
}
.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
    @include media("max", "sm") {
        transform: scale(0.5);
    }
    
}
.hamburger {
    width: 40px;
    height: 4px;
    transform: translate(-50%, -50%);
    background: black;
    transition: 0.5s;
    display: inline-block;
    margin-left: 12px;
}
.hamburger:before,
.hamburger:after {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    background: black;
    transition: 0.5s;
}
.hamburger:before {
    top: -16px;
}
.hamburger:after {
    top: 16px;
}
.icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
}
.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}
.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}