$color-grey: #565656;
$color-grey-text-bold: #333333;
$color-grey-text-h3: #0f0f0f;
$color-grey-text-autor: #797979;
$color-grey-table: #797979;
$color-light-grey-table: #f0f0f0;
$color-light-grey-table-bg: #fafbfc;
$color-grey-table-text: #333333;
$color-grey-aside: #f1f1f5;
$color-np: #a2a2a2;
$color-search-border: #e8e8e8;
$color-search-icon: #565656;